* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Allerta', sans-serif;
}

header {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fece32;
}

header nav {
  width: 45%;

  margin-left: 10vw;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  list-style: none;
  cursor: pointer;
}

header nav ul li:hover {
  text-decoration: underline;
}

header nav ul li a {
  font-size: 1rem;
  font-weight: bold;

  text-decoration: none;

  color: #fc6006;
}

#ser_mais_1 {
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to bottom, #ff940a, #ff7705, #fd6102);
}

#ser_mais_1 .img_plus {
  width: 7vw;
  position: absolute;

  margin-top: -14vw;
}

#ser_mais_1 .container {
  display: flex;
}

#ser_mais_1 .container .img_top {
  width: 14vw;
  position: absolute;
  margin-left: -10vw;
  margin-top: 25vw;
}

#ser_mais_1 .container .img_bot {
  width: 10vw;
  position: absolute;
  margin-left: 70vw;
  margin-top: 20vw;
}

#ser_mais_1 .plus {
  width: 10vw;
}

.texts_one h1 {
  font-size: 65px;
  color: #fff;
}
.texts_one p {
  font-size: 20px;

  margin-top: 20px;

  color: #fff;
}

#ser_mais_1 img {
  margin-left: 60px;
}

.texts_one .btn button {
  width: 14vw;
  height: 6vh;

  font-size: 14px;
  font-weight: 600;

  margin-top: 20px;

  border-radius: 50px;

  cursor: pointer;
  transition: filter 400ms;
}

.texts_one .btn button:hover {
  filter: brightness(90%);
}

.texts_one .btn .yellow_btn {
  border: none;

  color: #fc6006;
  background-color: #fece32;
  box-shadow: 0 0 10px 0 #fd6102;

  transition: filter 400ms;
}

.texts_one .btn .transp_btn {
  margin-left: 10px;
  border: 3px solid #fece32;

  color: #fff;

  background-color: transparent;
}

#ser_mais_2 {
  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right, #ff9a0a, #ff7705, #fd6102);
}

#ser_mais_2 .img_plus_2 {
  width: 10vw;

  position: absolute;

  margin-top: 10vw;
  margin-left: -40vw;
}

#ser_mais_2 .img_puzz_2 {
  width: 10vw;

  position: absolute;

  margin-top: 12vw;
  margin-left: 35vw;
}

#ser_mais_2 .text_two p {
  font-size: 20px;
  color: #fff;
}

#ser_mais_2 .img_2 img {
  width: 30vw;

  margin-left: 60px;
}

#ser_mais_3 {
  width: 100%;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right, #ff900a, #ff7305, #fd6102);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

#ser_mais_3 .puzz_img {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 60px;
}

#ser_mais_3 .puzz_img img {
  width: 25vw;

  margin-top: 10vw;
}

#ser_mais_3 .puzz_img h3 {
  font-size: 70px;
  font-weight: bold;

  position: absolute;
  margin-top: 7vw;

  color: #fff;
}

#ser_mais_3 .text_three p {
  font-size: 20px;
  color: #fff;
}

#ser_mais_4 {
  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right, #ff9a0a, #ff7705, #fd6102);
}

#ser_mais_4 .text_four2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ser_mais_4 .text_four p {
  font-size: 25px;
  color: #fff;

  margin-right: 60px;
}

#ser_mais_4 .text_four button {
  width: 14vw;
  height: 6vh;

  font-size: 14px;
  font-weight: 600;

  margin-top: 20px;
  margin-left: 10px;

  border-radius: 50px;
  border: 3px solid #fece32;

  color: #fff;
  background-color: transparent;
  transition: filter 400ms;
  cursor: pointer;
}

#ser_mais_4 .text_four button:hover {
  filter: brightness(90%);
}

#ser_mais_4 .text_four2 h3 {
  font-size: 50px;
  font-weight: 900;

  color: #fff;
}

#ser_mais_5 {
  width: 100%;
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f7f7f7;
}

#ser_mais_5 h3 {
  font-size: 80px;
  font-weight: bold;
}

#ser_mais_5 .fill {
  background: -webkit-linear-gradient(to right, #ff9a0a, #ff7705, #fd6202);
  background: linear-gradient(to right, #ff9a0a, #ff7705, #fd6102);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ser_mais_5 p {
  font-size: 18px;
  text-align: center;
}

#ser_mais_5 .steps {
  display: flex;

  margin-top: 40px;
}

#ser_mais_5 .steps .step_pad {
  width: 15vw;
  height: 30vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 30px;
  padding: 10px;

  text-align: center;

  border-radius: 25px;
  border: 5px solid #fd6102;
}

#ser_mais_5 .steps .step_pad img {
  width: 5vw;

  margin-bottom: 10px;
}

#ser_mais_5 .steps .step_pad h4 {
  font-size: 25px;

  margin-bottom: 5px;

  text-transform: uppercase;
}

#ser_mais_5 .steps .step_pad p {
  font-size: 15px;
}

#ser_mais_6 {
  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fbfbfb;
}

#ser_mais_6 img {
  width: 26vw;
}

#ser_mais_6 .text_six {
  margin-left: 70px;
}

#ser_mais_6 .text_six h3 {
  font-size: 80px;
  font-weight: bold;
}

#ser_mais_6 .text_six .fill {
  background: -webkit-linear-gradient(to right, #ff9a0a, #ff7705, #fd6202);
  background: linear-gradient(to right, #ff9a0a, #ff7705, #fd6102);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ser_mais_6 .text_six p {
  font-size: 18px;

  margin-top: 20px;
  margin-bottom: 15px;
}

#ser_mais_6 .text_six button {
  width: 13vw;
  height: 6vh;

  font-size: 14px;
  font-weight: 600;

  margin-top: 20px;
  margin-left: 10px;

  border-radius: 50px;
  border: 3px solid #fd6102;

  color: #fd6202;
  background-color: transparent;
  transition: filter 400ms;
  cursor: pointer;
}

#ser_mais_7 {
  width: 100%;
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to bottom, #ff940a, #ff7705, #fd6102);
}

#ser_mais_7 p {
  font-size: 14px;

  text-align: center;

  margin-top: 20px;

  color: #fff;
}

#ser_mais_7 .inter_cement {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 100px;
}

#ser_mais_7 .inter_cement img {
  width: 25vw;
}

#ser_mais_7 .inter_cement button {
  width: 14vw;
  height: 6vh;

  font-size: 14px;
  font-weight: 600;

  margin-top: 20px;

  border-radius: 50px;
  border: none;

  color: #fc6006;
  background-color: #fece32;
  box-shadow: 0 0 15px 0 #fd6102;

  cursor: pointer;
  transition: filter 400ms;
}

#ser_mais_7 .inter_cement button:hover {
  filter: brightness(90%);
}

#ser_mais_7 .firgun {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ser_mais_7 .firgun img {
  width: 18vw;
}

#ser_mais_7 .firgun p {
  font-size: 18px;
}

#ser_mais_7 .firgun button {
  width: 14vw;
  height: 6vh;

  font-size: 14px;
  font-weight: 600;

  margin-top: 20px;

  border-radius: 50px;
  border: none;

  color: #fc6006;
  background-color: #fece32;
  box-shadow: 0 0 10px 0 #fd6102;

  cursor: pointer;
  transition: filter 400ms;
}

#ser_mais_7 .firgun button:hover {
  filter: brightness(90%);
}

footer {
  width: 100%;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #fff;
}

footer .text_footer {
  width: 20vw;
  display: flex;
  justify-content: space-between;
}

footer p {
  font-size: 1rem;
  font-weight: bold;

  text-transform: capitalize;

  color: #c5c6c8;
}

footer .social {
  display: flex;
  align-items: center;
}

footer .icon {
  width: 2vw;

  margin: 5px;

  cursor: pointer;
}

.orange_stripe {
  width: 100%;
  height: 4vh;

  background-image: linear-gradient(to bottom, #ff940a, #ff7705, #fd6102);
}
