@media (max-width: 425px) {
  header {
    display: none;
  }

  .ser_mais_1 {
    width: 100%;
    height: 60vh;
  }

  .ser_mais_1 .container {
    display: flex;
    flex-direction: column;
  }

  .ser_mais_1 img {
    display: none;
  }

  .ser_mais_1 .btn {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .ser_mais_1 .btn button {
    width: 80vw;
  }

  .ser_mais_1 .texts_one h1 {
    font-size: 2rem;
    text-align: center;
  }

  .ser_mais_1 .texts_one p {
    font-size: 1rem;
    text-align: center;
  }

  .ser_mais_2 .text_two p {
    text-align: center;
  }

  .ser_mais_2 img {
    display: none;
  }

  .ser_mais_3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ser_mais_3 .puzz_img h3 {
    font-size: 2rem;
    position: relative;
    margin-left: 20vw;
  }

  .ser_mais_3 .text_three p {
    font-size: 0.8rem;
    margin: 10px;

    text-align: center;
  }

  .ser_mais_3 img {
    display: none;
  }

  .ser_mais_4 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .ser_mais_4 img {
    display: none;
  }

  .ser_mais_4 .text_four2 h3 {
    font-size: 2rem;
  }

  .ser_mais_4 .text_four p {
    font-size: 0.8rem;
    text-align: center;

    margin: 20px 0 0 10px;
  }

  .ser_mais_4 .text_four button {
    width: 80vw;
  }

  .ser_mais_5 {
    height: 100%;
  }

  .ser_mais_5 h3 {
    font-size: 2rem;
  }

  .ser_mais_5 p {
    font-size: 0.8rem;
  }

  .ser_mais_5 .steps {
    display: flex;
    flex-direction: column;
  }

  .ser_mais_5 .steps .step_pad {
    width: 40vw;
    height: 28vh;

    margin-left: 20px;
    margin-bottom: 10px;
  }

  .ser_mais_5 .steps .step_pad img {
    width: 10vw;
  }

  .ser_mais_5 .steps .step_pad h4 {
    font-size: 1rem;
  }

  .ser_mais_5 .steps .step_pad p {
    font-size: 0.7rem;
  }

  .ser_mais_6 {
    height: 100%;
  }

  .ser_mais_6 .text_six {
    margin-left: 1px;
  }

  .ser_mais_6 .text_six h3 {
    font-size: 2rem;
    margin-top: 10px;
  }

  .ser_mais_6 .text_six p {
    font-size: 0.7rem;
  }

  .ser_mais_6 .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ser_mais_6 .btn button {
    width: 70vw;
    margin-bottom: 10px;
  }

  .ser_mais_6 img {
    display: none;
  }

  .ser_mais_7 {
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .ser_mais_7 .inter_cement {
    margin-left: 1px;
  }

  .ser_mais_7 p {
    font-size: 0.7rem;
  }

  .ser_mais_7 .inter_cement img {
    width: 60vw;
  }

  .ser_mais_7 .inter_cement button {
    width: 80vw;
    margin-bottom: 20px;
  }

  .ser_mais_7 .firgun img {
    width: 50vw;
    margin-top: 20px;
  }

  .ser_mais_7 .firgun p {
    font-size: 0.8rem;
  }

  .ser_mais_7 .firgun button {
    width: 80vw;
    margin-bottom: 20px;
  }

  footer {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  footer img {
    width: 30vw;
    margin-top: 20px;
  }

  footer .text_footer {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer p {
    margin-bottom: 10px;
  }

  footer .icon {
    width: 8vw;
  }
}
