@media (max-width: 425px) {
  header {
    display: none;
  }

  #ser_mais_1 {
    width: 100%;
  }

  #ser_mais_1 .container {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
  }

  #ser_mais_1 .container .mid {
    width: 100%;
    height: 100%;

    margin: 0;
  }

  #ser_mais_1 img {
    display: none;
  }

  #ser_mais_1 .btn {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #ser_mais_1 .btn button {
    width: 80vw;
    margin-left: 0;
  }

  #ser_mais_1 .texts_one h1 {
    font-size: 3rem;
    text-align: center;

    margin-top: 0.5rem;
  }

  #ser_mais_1 .texts_one p {
    font-size: 1rem;
    text-align: center;
  }

  #ser_mais_2 {
    height: 80vh;
  }

  #ser_mais_2 .text_two p {
    text-align: center;

    margin: 20px;
  }

  #ser_mais_2 .text_two .two_top {
    width: 100%;
  }

  #ser_mais_2 .text_two .two_bot {
    width: 100%;
  }

  #ser_mais_2 img {
    display: none;
  }

  #ser_mais_3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #ser_mais_3 .mid_3 {
    display: flex;
    flex-direction: column;
  }

  #ser_mais_3 .puzz_img h3 {
    font-size: 2rem;

    margin-left: 2rem;
  }

  #ser_mais_3 .text_three {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ser_mais_3 .text_three .three_top {
    width: 90vw;
  }

  #ser_mais_3 .text_three .three_bot {
    width: 90vw;

    margin-top: 1rem;
  }

  #ser_mais_3 .text_three p {
    font-size: 0.9rem;
    margin: 10px;

    text-align: center;
  }

  #ser_mais_3 img {
    display: none;
  }

  #ser_mais_4 {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column-reverse;
  }

  #ser_mais_4 .mid_4 {
    display: flex;
    flex-direction: column-reverse;
  }

  #ser_mais_4 img {
    display: none;
  }

  #ser_mais_4 .text_four2 .four_h3 {
    width: 100%;
    margin: 0;
  }

  #ser_mais_4 .text_four2 h3 {
    font-size: 1.5rem;

    margin-top: 2rem;
  }

  #ser_mais_4 .text_four .four_top {
    width: 90%;

    margin: 10px;
  }

  #ser_mais_4 .text_four .four_bot {
    width: 90%;

    margin: 10px;
  }

  #ser_mais_4 .text_four p {
    font-size: 0.8rem;
    text-align: center;

    margin: 20px 0 0 10px;
  }

  #ser_mais_4 .text_four button {
    width: 80vw;
    margin-left: 15px;
    margin-bottom: 20px;
  }

  #ser_mais_4 .text_four2 {
    margin: 0;
  }

  #ser_mais_5 {
    height: 100%;
  }

  #ser_mais_5 h3 {
    font-size: 2rem;
  }

  #ser_mais_5 p {
    font-size: 0.8rem;
  }

  #ser_mais_5 .steps {
    display: flex;
    flex-direction: column;
  }

  #ser_mais_5 .steps .step_pad {
    width: 72%;
    height: 35vh;

    margin-left: 5px;
  }

  #ser_mais_5 .steps .step_pad img {
    width: 10vw;
  }

  #ser_mais_5 .steps .step_pad h4 {
    font-size: 1rem;
  }

  #ser_mais_5 .steps .step_pad .step_text {
    width: 100%;
    height: 40vh;

    font-size: 1rem;
  }

  #ser_mais_5 .steps .step_pad p {
    font-size: 0.7rem;
  }

  #ser_mais_6 {
    height: 100%;
  }

  #ser_mais_6 .text_six {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 2px;
  }

  #ser_mais_6 .text_six .h3_6 {
    width: 100vw;
  }

  #ser_mais_6 .text_six h3 {
    font-size: 1.8rem;

    margin-top: 2rem;

    text-align: center;
  }

  #ser_mais_6 .text_six .text_6 {
    width: 90%;
  }

  #ser_mais_6 .text_six p {
    font-size: 0.8rem;

    margin: 8px;
  }

  #ser_mais_6 .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ser_mais_6 .btn button {
    width: 70vw;
    margin-bottom: 10px;
  }

  #ser_mais_6 img {
    display: none;
  }

  #ser_mais_7 {
    height: 100%;
  }

  #ser_mais_7 .mid_7 {
    display: flex;
    flex-direction: column;
  }

  #ser_mais_7 .inter_cement img {
    width: 70vw;
  }

  #ser_mais_7 .inter_cement .inter_text {
    width: 100vw;
  }

  #ser_mais_7 .inter_cement .inter_text p {
    font-size: 0.8rem;
  }

  #ser_mais_7 .inter_cement button {
    width: 70vw;
    margin-bottom: 2rem;
  }

  #ser_mais_7 .firgun img {
    width: 60vw;

    margin-top: 2rem;
  }

  #ser_mais_7 .firgun .firgun_text {
    width: 100vw;
  }

  #ser_mais_7 .firgun .firgun_text p {
    font-size: 0.8rem;
  }

  #ser_mais_7 .firgun button {
    width: 70vw;
    margin-bottom: 2rem;
  }

  footer {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  footer img {
    width: 30vw;
    margin-top: 20px;
  }

  footer .text_footer {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer p {
    margin-bottom: 10px;
  }
}
