* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Allerta', sans-serif;
}

p {
  font-size: 16px;
}

header {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fece32;
}

header nav {
  width: 45%;

  margin-left: 10vw;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  list-style: none;
  cursor: pointer;
}

header nav ul li a {
  font-size: 0.8rem;
  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;

  color: #fc6006;
}

header nav ul li a:hover {
  text-decoration: underline 3px;
}

#ser_mais_1 {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(to bottom, #ff940a, #ff7705, #fd6102);
}

#ser_mais_1 .img_plus {
  width: 13%;
  height: 100%;
}

#ser_mais_1 .img_plus img {
  width: 12rem;
}

#ser_mais_1 .container .mid {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#ser_mais_1 .container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#ser_mais_1 .container .mid .ser_logo img {
  width: 18.5rem;
}

#ser_mais_1 .container .img_top {
  width: 14.5%;
  height: 100%;

  margin-top: 18rem;
}

#ser_mais_1 .container .img_top img {
  width: 13rem;
  position: absolute;
}

#ser_mais_1 .container .img_bot {
  width: 16%;
  height: 100%;

  margin-top: 15rem;
}

#ser_mais_1 .container .img_bot img {
  width: 14rem;
}

.texts_one h1 {
  font-size: 4.5rem;
  color: #fff;
}
.texts_one p {
  font-size: 1rem;

  margin-top: 20px;

  color: #fff;
}

.texts_one .btn button {
  width: 14vw;
  height: 6vh;

  font-size: 14px;
  font-weight: 600;

  margin-top: 20px;

  border-radius: 50px;

  cursor: pointer;
  transition: filter 400ms;
}

.texts_one .btn button:hover {
  filter: brightness(90%);
}

.texts_one .btn .yellow_btn {
  border: none;

  color: #fc6006;
  background-color: #fece32;
  box-shadow: 0 0 10px 0 #fd6102;

  transition: filter 400ms;
}

.texts_one .btn .transp_btn {
  margin-left: 10px;
  border: 3px solid #fece32;

  color: #fff;

  background-color: transparent;
}

#ser_mais_2 {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  background-image: linear-gradient(to right, #ff9a0a, #ff7705, #fd6102);
}

#ser_mais_2 .mid_2 {
  width: 90%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0;
}

#ser_mais_2 .img_plus_2 {
  height: 100%;

  margin-top: 30rem;
}

#ser_mais_2 .img_plus_2 img {
  width: 11rem;

  margin-left: 3rem;
}

#ser_mais_2 .img_2 {
  height: 30%;
}

#ser_mais_2 .img_2 img {
  width: 24rem;
}

#ser_mais_2 .img_puzz_2 {
  height: 100%;

  margin-top: 22rem;
}

#ser_mais_2 .img_puzz_2 img {
  width: 9rem;
}

#ser_mais_2 .text_two p {
  margin-right: 6rem;
  margin-bottom: 2rem;

  color: #fff;
}

#ser_mais_2 .text_two .two_top {
  width: 37vw;
}

#ser_mais_2 .text_two .two_bot {
  width: 37vw;
}

#ser_mais_3 {
  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right, #ff900a, #ff7305, #fd6102);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

#ser_mais_3 .mid_3 {
  width: 67%;
  display: flex;
  align-items: center;
}

#ser_mais_3 .puzz_img {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-right: 60px;
}

#ser_mais_3 .puzz_img img {
  width: 25vw;

  margin-top: 0vw;
}

#ser_mais_3 .puzz_img h3 {
  font-size: 70px;
  font-weight: bold;

  margin-top: 9vw;

  color: #fff;
}

#ser_mais_3 .text_three .three_top {
  width: 45vw;
}

#ser_mais_3 .text_three .three_bot {
  width: 45vw;

  margin-top: 2rem;
}

#ser_mais_3 .text_three p {
  color: #fff;
}

#ser_mais_4 {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to right, #ff9a0a, #ff7705, #fd6102);
}

#ser_mais_4 .mid_4 {
  width: 67%;

  display: flex;
  align-items: center;
}

#ser_mais_4 .text_four2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 7vw;
  margin-bottom: 10vh;
}

#ser_mais_4 .text_four .four_top {
  width: 45vw;
}

#ser_mais_4 .text_four .four_bot {
  width: 45vw;

  margin-top: 2rem;
  margin-bottom: 4rem;
}

#ser_mais_4 .text_four p {
  color: #fff;

  margin-right: 60px;
}

#ser_mais_4 .text_four button {
  width: 14vw;
  height: 6vh;

  font-size: 14px;
  font-weight: 600;

  margin-top: 20px;
  margin-left: 10px;

  border-radius: 50px;
  border: 3px solid #fece32;

  color: #fff;
  background-color: transparent;
  transition: filter 400ms;
  cursor: pointer;
}

#ser_mais_4 .text_four button:hover {
  filter: brightness(90%);
}

#ser_mais_4 .text_four2 .four_h3 {
  width: 30vw;
  margin-left: 5rem;
}

#ser_mais_4 .text_four2 h3 {
  font-size: 50px;
  font-weight: 900;

  color: #fff;
}

#ser_mais_4 .text_four2 .four_img img {
  width: 15rem;
  margin-right: 8rem;
}

#ser_mais_5 {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f7f7f7;
}

#ser_mais_5 h3 {
  font-size: 80px;
  font-weight: bold;

  margin: 30px 0 20px 0;
}

#ser_mais_5 .fill {
  background: -webkit-linear-gradient(to right, #ff9a0a, #ff7705, #fd6202);
  background: linear-gradient(to right, #ff9a0a, #ff7705, #fd6102);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ser_mais_5 .text_5 {
  width: 65%;
}

#ser_mais_5 p {
  text-align: center;
}

#ser_mais_5 .steps {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 40px;
}

#ser_mais_5 .steps .step_pad {
  width: 25%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 30px;
  margin-bottom: 30px;
  padding: 35px;

  text-align: center;

  border-radius: 25px;
  border: 5px solid #fd6102;
}

#ser_mais_5 .steps .step_pad h4 {
  font-size: 20px;

  margin: 1rem 0 1rem 0;

  text-transform: uppercase;
}

#ser_mais_5 .steps .step_pad .step_img {
  width: 10vw;
  height: 12vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#ser_mais_5 .steps .step_pad img {
  width: 5rem;

  margin-bottom: 10px;
}

#ser_mais_5 .steps .step_pad .img_tp img {
  width: 4rem;
}

#ser_mais_5 .steps .step_pad .step_text {
  width: 15vw;
  height: 15vh;

  font-size: 1rem;
}

#ser_mais_6 {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fbfbfb;
}

#ser_mais_6 img {
  width: 26vw;
}

#ser_mais_6 .text_six {
  margin-left: 70px;
}

#ser_mais_6 .text_six .h3_6 {
  width: 35vw;
}

#ser_mais_6 .text_six h3 {
  font-size: 60px;
  font-weight: bold;
}

#ser_mais_6 .text_six .fill {
  background: -webkit-linear-gradient(to right, #ff9a0a, #ff7705, #fd6202);
  background: linear-gradient(to right, #ff9a0a, #ff7705, #fd6102);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ser_mais_6 .text_six .text_6 {
  width: 35vw;
}

#ser_mais_6 .text_six p {
  margin-top: 20px;
  margin-bottom: 15px;
}

#ser_mais_6 .text_six button {
  width: 13vw;
  height: 6vh;

  font-size: 14px;
  font-weight: 600;

  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 30px;

  border-radius: 50px;
  border: 3px solid #fd6102;

  color: #fd6202;
  background-color: transparent;
  transition: filter 400ms;
  cursor: pointer;
}

#ser_mais_7 {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to bottom, #ff940a, #ff7705, #fd6102);
}

#ser_mais_7 .mid_7 {
  width: 80%;

  display: flex;
  justify-content: space-between;
}

#ser_mais_7 p {
  text-align: center;

  margin-top: 20px;

  color: #fff;
}

#ser_mais_7 .inter_cement {
  height: 65vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#ser_mais_7 .inter_cement img {
  width: 21vw;

  margin-top: 20px;
}

#ser_mais_7 .inter_cement .inter_text {
  width: 40vw;
  height: 40vh;
}

#ser_mais_7 .firgun .inter_text p {
  font-size: 90%;
}

#ser_mais_7 .inter_cement button {
  width: 14vw;
  height: 6vh;

  font-size: 14px;
  font-weight: 600;

  margin-top: 1.5rem;

  border-radius: 50px;
  border: none;

  color: #fc6006;
  background-color: #fece32;
  box-shadow: 0 0 15px 0 #fd6102;

  cursor: pointer;
  transition: filter 400ms;
}

#ser_mais_7 .inter_cement button:hover {
  filter: brightness(90%);
}

#ser_mais_7 .firgun {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ser_mais_7 .firgun img {
  width: 18vw;

  margin-top: 20px;
}

#ser_mais_7 .firgun .firgun_text {
  width: 30vw;
  height: 37vh;

  margin: 2rem 0 0rem 0;
}

#ser_mais_7 .firgun button {
  width: 14vw;
  height: 6vh;

  font-size: 14px;
  font-weight: 600;

  margin-top: 1.3rem;

  border-radius: 50px;
  border: none;

  color: #fc6006;
  background-color: #fece32;
  box-shadow: 0 0 10px 0 #fd6102;

  cursor: pointer;
  transition: filter 400ms;
}

#ser_mais_7 .firgun button:hover {
  filter: brightness(90%);
}

footer {
  width: 100%;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #fff;
}

footer .text_footer {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

footer p {
  font-size: 1rem;
  font-weight: bold;

  text-transform: capitalize;
}

footer p a {
  text-decoration: none;
  color: #c5c6c8;
}

.orange_stripe {
  width: 100%;
  height: 4vh;

  background-image: linear-gradient(to bottom, #ff940a, #ff7705, #fd6102);
}
